<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moviesapp.com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shortcut_movie_filter"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".view.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.MovieDetailsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.MapsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.HelpScreenActivity"
            android:theme="@style/Theme.Transparent.MyTheme"
            android:screenOrientation="portrait"/>

    </application>

</manifest>